@use '_variables.scss';
@use '_mixines.scss';
@use 'partials/header.scss';
@use 'partials/indexmain.scss';
@use 'partials/footer.scss';
@use 'partials/mediaqueri.scss';
@use 'partials/productos.scss';

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}